Package: firmware-xiaomi-elish
Version: 1.0
Architecture: arm64
Maintainer: alghiffaryfa19
Conflicts: linux-firmware
Replaces: linux-firmware
Description: Firmware blobs & Configs for Xiaomi Pad 5 Pro
